body {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

div {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 1px solid rgb(14, 13, 13);
    margin: 1em 0;
    padding: 0;
}

button {
    background-color: rgb(38, 38, 233);
    color: white;
    padding:6px 6px;
    border-radius: 3px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.mediumfont {
    font-size: medium;


}

/* .border-solid {
    border-style: solid;
    border-color: rgb(37, 37, 37);
} */

ul.square {
    list-style-type: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: right;
}

li a {
  display: block;
  color:black;
  padding: 14px 16px;
  text-decoration: none;
}

}ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  li a:hover {
    background-color: rgb(99, 88, 129);
  }
  #bottomList {
      float: left;
  }
  #copyright {
      text-align:center;

}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
   text-align: center;
 }